body{
	margin: 0;
	padding: 0;
}
img {
  width: 100% \9;
  max-width: 100%;
  height: auto;
}
footer
{
  background-color: #103B1B;
  bottom: 0;
  color: #ffffff;
  padding: 0 15px 15px;
  text-align: left;
  width: 100%;
}
/* Hide for mobile, show later */
.sidebar {
  display: none;
}
.boxPoster
{
    background: rgba(0,0,0,0.7);
    display: none;
    height:100%;
    left:0px;
    margin: 0;
    padding:5px;
    position: fixed;   
    top:0px;
    width:100%;
    z-index: 1000;
}
.brand{
	margin-top: 5px;
	margin-left: 80px;
}
/* Carrusel */
.carousel {
  /*height: 600px;*/
  height: 100%;
  margin-bottom: 20px;
  margin-top: 65px;
}
.carousel-caption{
  background: rgba(0,0,0,0.5);
  box-shadow: #333333 3px 2px 10px;
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  height: 100%;
  left: 35%;
  margin: 40px;
  padding: 0px 20px;
  text-align: left;
  top: 75%;
  width: 65%;
  z-index: 10;
}
.carousel-caption img
{
  width: 100%;
}
.carousel .item {
  height: 620px;
  background-color: #fff;
}
.carousel-inner > .item > img,
.carousel-inner > .item > iframe {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 620px;
}
.carousel-control{
	font-size: 10px;
	width: 5%;
}
.center{
	text-align: center;
}
.container {
  padding-top: 40px;
}
.divisor {
	border: solid 1px #c9c9c9;
}
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.glyphicon-edit,
.glyphicon-plus {
  color: #3498db;
}
.glyphicon-ok,
.glyphicon-refresh {
  color: green;
}
.glyphicon-remove {
  color: red;
}
.justificado {
  text-align: justify;
}
/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar .header{
  padding: 0 20px;
}
.nav-sidebar .header > h5 {
  font-size: 1.1em;
  font-weight: bold;
}
.nav-sidebar > li > a {
  cursor: pointer;
  padding: 5px 20px;
}
.nav-sidebar > li > a > .glyphicon {
  color: #446E9B;
}
.nav-sidebar > li.active > a > .glyphicon {
  color: #ffffff;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #446E9B;
}
.main {
  padding: 35px;
}
.messagePoster {
	background: rgba(250,250,250, 1);
	background-image: -webkit-linear-gradient(#ffffff, #eeeeee 50%, #e4e4e4);
	background-image: linear-gradient(#ffffff, #eeeeee 50%, #e4e4e4);
	background-repeat: no-repeat;filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe4e4e4', GradientType=0);
	filter: none;
    border-radius: 7px; 
    color: black;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;    
    box-shadow: 7px 7px 8px #333;
    -webkit-box-shadow: 7px 7px 8px #333;
    -moz-box-shadow: 7px 7px 8px #333;
    font-size: 1.2em;
    min-height: 80px;
    margin: auto;
    margin-top: 20%;
    padding: 25px;
    text-align: left;
    width: 400px;
}
.rojo {
  color: red;
}
.shadow-box {
  box-shadow: 0 1px 25px #333333;
}
.sub-header {
  padding-bottom: 30px;
}
.verde {
  color: green;
}

/* Responsive css */
@media (max-width: 992px) {
  .carousel {
    height: 450px;
  }
  .carousel .item {
    height: 450px;
  }
  .carousel-inner > .item > img {
    height: 450px;
  }
  .carousel-caption h3{
    font-size: 1.2em;
  }
}

@media (max-width: 768px){
.brand{
	margin-left: 30px;
}
  .carousel {
    height: 300px;
  }
  .carousel .item {
    height: 300px;
  }
  .carousel-inner > .item > img {
    height: 300px;
  }
  .carousel-caption{
    padding: 4px 10px;
  }
.carousel-caption h3{
    font-size: 0.9em;
  }
  /* Fin Carrusel */

}

@media ( max-width: 480px ){
.brand{
	margin-left: 20px;
}
  /* Carousel base class */
.carousel {
  height: 250px;
}
/* Declare heights because of positioning of img element */
.carousel .item {
  height: 250px;
}
.carousel-inner > .item > img {
  height: 250px;
}
.carousel-caption{
  padding: 2px 10px;
}
.carousel-caption h3{
  font-size: 0.7em;
}
.carousel-control{
	font-size: 15px;
	width: 10%;
}
/* Fin Carrusel */
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
  .sidebar {
    background-color: #f5f5f5;
    bottom: 0;
    border-right: 1px solid #eee;
    display: block;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    padding: 20px;
    position: fixed;
    top: 50px;
    z-index: 100;
  }
}